
  <%= form_with model:[:admin, @test], local: true  do |f| %>
    <%= render 'shared/errors', resource: @test %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :level %><br>
      <%= f.text_field :level %>
    </p>

    <p>
      <%= f.hidden_field :author_id, value: "#{current_user.id}"  %>
    </p>
    <p>
      <%= f.label t('.published') %><br>
      <%= f.check_box :published %>
    </p>
    <p>
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :title, prompt: true %>
    </p><br>

    <%= f.submit %>
  <% end %>

  <%= link_to t('helpers.submit.test.to_all_tests'), admin_tests_path %>