
  <h2>Test <%= @test.title %></h2>

  <p>
    <strong>Level: </strong>
    <%= @test.level %>
  </p>

  <p>
    <strong>Category: </strong>
    <%= @test.category.title%>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @test.author.first_name %> <%= @test.author.last_name %>
  </p>
  <h4>Questions <%= link_to "Create a new question", new_admin_test_question_path(@test) %></h4>

  <table>
    <tr>
      <th>Body</th>
      <th colspan="3">Actions</th>
    </tr>
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
  </table>

  <%= link_to 'Edit test', edit_admin_test_path(@test)%> |
  <%= link_to 'Back to all tests', admin_tests_path %>|
  <%= link_to 'Delete', admin_test_path(@test), method: :delete, data: { confirm: 'Are you sure?' } %>