
  <h2><%= t('.header') %></h2>
  <table class="table">
    <thead>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions_count') %></th>
      <th><%= t('.actions') %></th>
    </thead>
    <%= render @tests %>
  </table>